
/* Overall layout styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
}



.right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.title {
    margin-top: 0;
}

.canva {
    width: 100%;
    max-width: 600px;
    height: auto;
}